{% extends "layoutBase.html.j2" %}
{% block title %}Plot Data{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <h1>Plot Data</h1>
    <div id=subStation></div>
    <div id=details>
        <br>Subsation Name: <input type="text" id="subStationField" value="Initial value"></br>
        <br>Recommendation: </br>
        <a class="collapse-item" href="{{ url_for('latestRecommendation.displayLatestRecommendation') }}">Recommendations Page</a>
    </div>
{% endblock %}
    
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='app/plotRecommendationById.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename= 'node_modules/plotly.js-dist/plotly.js') }}"></script>

    {% set dfData = data %}
    {% set substationName = substation_name %}
    <script>
        var dfData = {{ dfData|safe }};
        window.onload = function() {
            loadPlotData();
            loadPlotDetails();
        }
    </script>
    
    <style>
        thead input {
            padding: 2px;
            box-sizing: border-box;
            font-size: small;
            width: 100%
        }
        .rightSpan{
                float:right;
                font-size: 22px;
            }
            @page{
            size:auto;
            }
            @media print {
            .pagebrk {
                clear: both;
                page-break-after: always;
            }
        }
    </style>

{% endblock %}