{% extends "layoutBase.html.j2" %}
{% block title %}{{title}}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<h4>{{ message }}</h4>
<a href="{{ url_for('oauth.login') }}">Click here</a> to go to Login page
{% endblock %}